body {
  background-color: #2c3e50;
  background-size: cover;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Raleway", sans-serif;
}

.center {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.clock {
  margin-top: 5%;
  font-size: 5em;
  -webkit-text-stroke: 1.5px black;
}

.form,
.greeting {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadein 0.5s linear;
}

@media (max-width: 750px) {
  .bgImage {
    object-fit: cover;
    object-position: 30%;
  }
}
