input {
  background: none;
  color: white;
  outline: none;
  border-style: hidden;
  border-bottom: 2px solid white;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 50px;
}

input::placeholder {
  color: white;
  text-align: center;
}

.greeting {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 50px;
}

ul {
  list-style-type: none;
  text-align: left;
}

.list {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
  margin-left: 40%;
  padding: 0;
}

.todo_button {
  cursor: pointer;
  margin-right: 15px;
}
